<header>
    <a href="/">Home</a>
    {% if is_granted('IS_ANONYMOUS') %}
        <a href="{{ url('app_login') }}">Login</a>
        <a href="{{ url('app_register') }}">Register</a>
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ url('app_logout') }}">Logout</a>
       {# <a href="/play">Play Quiz</a>#}
    {% endif %}

    {#{% if is_granted('ROLE_ADMIN') %}
        <a href="{{ url('admin') }}">Administrate</a>
    {% endif %}#}
</header>