<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Quiz!</title>
		{# the CSS file lives at "public/css/index.css" #}
		<link href="{{ asset('css/index.css') }}" rel="stylesheet"/>

		{# the JS file lives at "public/js/index.js" #}
		<script src="{{ asset('public/js/index.js') }}"></script>
    </head>
    <body>
		{{include('header/header.html.twig')}}
		
		<div class='container'>
		<h1>Welcome to Quiz!</h1>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h1> hello,{{ user.getName }}!!</h1>
            {% endif %}
		</div>
    </body>
</html>