{% extends("base.html.twig") %}

{% block body %}
    <div class='container'>
        <h1>Welcome to Quiz!</h1>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h1> hello!!</h1>
        {% endif %}

        {% if quizes is defined %}
            {% for quiz in quizes %}
                <div style="font-size:30px;">Name:{{ quiz.getName}} Users:{{ quiz.getUsersCount}}  <button>play</button></div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}