{% extends("base.html.twig") %}

{% block body %}
    <div class='container'>
        <h1>Welcome to Quiz!</h1>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h1> hello,{{ user.getName }}!!</h1>
        {% endif %}
    </div>
{% endblock %}