<div class="admin_header">
    <a href="{{ url('admin_users') }}">Moderate users</a>
    <a href="{{ url('admin_quizes') }}">Moderate quizes</a>
    <a href="{{ url('admin_create_quiz') }}">Create quiz</a>
</div>