{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
{% endblock %}
{% block body %}
    <div class="box">
        <h1>
            Данила, пиздуй делать админку!ы
        </h1>
       <input type="submit" value="Пойти нахуй">
    </div>
{% endblock %}