<hr>
<div class="admin_header">
    <a href="{{ url('app_admin_users') }}">Moderate users</a>
    <a href="#">Moderate quizes</a>
    <a href="{{ url('app_admin_create_quiz') }}">Create quiz</a>
</div>
<hr>