{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/create_quiz.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/admin/admin.css') }}"/>
{% endblock %}

{% block body %}
    {{ include ('admin/admin_header.html.twig') }}
    <div class="quiz_create_container">
        <div class="quiz_info">{{ form(quizform) }}</div>
        <div class="questions"></div>
        <div class="question_info"></div>
    </div>
{% endblock %}