.quiz-info {
    background: rgba(25, 25, 25, 0.9);
    margin-left: 10px;
}

.quiz-info h2 {
    color: #2ecc71;
    text-align: center;
}

.quizes {
    overflow-y: scroll;
    overflow-x: hidden;
    /*height: 500px;*/
    height: 470px;
    width: 100%;
    border: 10px;
}

.quiz-block {
    background: rgba(46, 204, 113, 0.2);
}

.quiz-block h2 {
    color: #855454;
    text-align: left;
    padding-left: 10px;
}

.quiz-block h2 a {
    text-decoration: none;
    color: #ae6f6f;
}

.quiz-block h2 a:hover {
    text-decoration: none;
    color: #ffffff;
}

.quiz-block table td {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.user-info {
    background: rgba(25, 25, 25, 0.9);
    color: #3498db;
}

.user-info h3 {
    color: #2ecc71;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

button {
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

button:hover {
    background: #2ecc71;
}

::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    width: 5px;
    height: 0;
}

::-webkit-scrollbar-track {
    background-color: #000000
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #0d4eb3;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #56999f;
}

::-webkit-resizer {
    background-repeat: no-repeat;
    width: 4px;
    height: 0;
}

::-webkit-scrollbar {
    width: 4px;
}

.alert {
    margin: 0;
    padding: 0;
    text-align: center;
}