.tbl {
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    background-color: rgba(25, 25, 25, 0.9);
}

.tbl h3 {
    color: #2ecc71;
    margin: 10px auto;
}

.table-q {
    color: white;
    background: rgba(46, 204, 113, 0.2);
    margin: 0;
    width: 100%;
}

.tbl table th {
    padding: 5px;
}

table {
    margin: 10px;
    text-align: center;
}

tbody th a {
    text-decoration: none;
    font-size: 25px;
}

tbody th a:hover {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

tr {
    border-bottom: 2px;
    border-color: #5eb5e0;
}

.meh {
    margin-top: 10px;
    margin-bottom: 8px;
}