.co{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    background: rgba(25, 25, 25, 0.9);
    color: white;
}

h1{
    color: white;
}

p{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.co img{
    height: 100px;
    width: 150px;
}

hr{
    background-color: white;
    margin-right: 30px;
    margin-left: 30px;
}