.box {
    width: 70%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(25, 25, 25, 0.9);
    text-align: center;
    color: #3498db;
}

.box button {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box button:hover {
    background: #2ecc71;
}

.box button:disabled {
    background: #4f534d;
}

.box .question {
    color: #2ecc71;
    font-size: 32px;
    padding: 0 5px 5px;
    /*border: 3px solid #2ecc71;*/
    border-radius: 24px;
    margin: 10px;
}

input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

input[type="radio"] + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

input[type="radio"] + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

input[type="radio"]:not(:disabled):not(:checked) + label:hover::before {
    border-color: #36b86e;
}

input[type="radio"]:not(:disabled):active + label::before {
    background-color: #2ecc71;
    border-color: #176639;
}

input[type="radio"]:focus + label::before {
    box-shadow: 0 0 0 0.2rem #1f673e;
}

input[type="radio"]:focus:not(:checked) + label::before {
    border-color: #80bdff;
}

input[type="radio"]:checked + label::before {
    border-color: #2ecc71;
    background-color: #2ecc71;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

input[type="radio"]:disabled + label::before {
    background-color: #000000;
}

label {
    padding: 10px 30px;
}
.right {
    color: #3ac31a;
}

.wrong {
    color: #db7778;
}