{%  extends("base.html.twig") %}
{% block body %}
<div class="container">
    <div class="regform_container" >
        {{ form_row(regform.name) }}
        {{ form_row(regform.email) }}
        {{ form_row(regform.password) }}
        {{ form_row(regform.save) }}
    </div>
</div>
{% endblock %}