<!DOCTYPE HTML>
<html>
<head>
    <title>succesfull registration!</title>

    <link rel="stylesheet" href="{{ asset('css/index.css') }}" />
</head>

<body>
    <div class="container">
        <h1>You have succesfull register!</h1>
        <a href="/">Go home</a>
    </div>
</body>
</html>