table {
    margin: 0 auto;
    font-size: 25px;
    overflow-Y: scroll;
}

table thead td {
    border: 1px solid darkolivegreen;
    background: lightgreen;
}

table .tools span {
    border: 1px inset black;
    background: lightslategrey;
    padding: 5px 5px;
    cursor: pointer;
}
.pagination {
    text-align: center;
    font-size: 30px;
}
.admin_header{
    width:50%;
    height:50px;
    margin:0 auto;
    display:flex;
    justify-content: space-around;
    background:lightsalmon;
    font-size:20px;
}
.admin_header a{
    color:white;
    margin-top:20px;
    text-decoration:none;
}